# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Homework.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\micha\Desktop\Codecool\OOP september\2020,03,20\Homework\.idea\.idea.Homework.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
